<div class="ui selection dropdown rfaModalDropDown" id="rfa_acknowledgeby">
  
                            <input type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">Acknowledged By</div>
  
                              <div class="menu" id="loadrfa_acknowledgeby">
  
                              </div>
  
                            </div>
  
               
                    