    @media(max-width: 1366px){
      .ui.secondary.menu .pj-log-in{
        font-size: 10px !important;
        font-weight: 300;
      }

      .header.pj{
        font-size: 13px !important;
      }

      i.big.icon,
      i.big.icons {
        line-height: 1;
        vertical-align: middle;
        font-size: 1.5em !important;
      }



      .pj-red{
      background-color: #A52A2A !important;
      color: white;
      text-align: center;
    }


  }